@media screen and (max-width: 950px) {
  .sidebar_area {
    left: -255px;
  }
  .show {
    left: 0;
  }
  .all_section {
    margin-left: 0;
    padding: 0 15px;
  }
  .section_content {
    padding-right: 0;
    margin: 0;
  }
  .hero_section .hamburger_btn {
    display: block;
  }
}
@media screen and (max-width: 650px) {
  footer p {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .hero_section .section_content h1 {
    font-size: 4em;
  }
  .hero_section .section_content h4 {
    font-size: 1.5em;
  }
  .hero_section .section_content h3 {
    font-size: 1.8em;
  }
  .hero_section .section_content span {
    font-size: 1.4em;
  }
  footer p {
    display: none;
  }
  footer {
    padding: 0 10px;
  }
  .hero_section .section_content {
    margin: 0;
  }
  .project_section .section_content .projects_area {
    justify-content: center;
  }
  .button_area {
    display: flex;
    justify-content: center;
  }
}
